.app {
  background: #00939F;
  height: 100vh;
  padding: 0px 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 600px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 10px);
  width: 100%;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 20px;
  font-family: Arial,Helvetica,sans-serif;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.input{
  width: 97%;
  border-radius: 4px;
  border: 1px #ddd;
  height: 25px;
  padding: 3px 10px;
}

button{
  cursor: pointer;
}